.title{ color: aquamarine}
.title{ outline: 5px solid aqua}
.title{ font-family: Helvetica}
.title{ font-style: italic;}
h1{ color: firebrick}
h1{ font-family: Cursive;}
p{ color: greenyellow}
a{ font-family: 'sans-serif'}
a{ font-weight: bold;}